* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Quando', serif;
}

.container {
  max-width: 1200px;
  font-family: 'Quando', serif;
  font-size: 15px;
}

#contadorCarrito {
  font-family: 'Quando', serif;
  font-size: 20px;
  display: flex;
  justify-content: end;
  color: #976c1c;
  margin-left: 5px;
}

body {
  background-color: #f8f3ea;
  margin: auto;
}

ul {
  list-style: none;
}

.navbar {
  height: 150px;
  background-color: #e4b866;
  box-shadow: 0px 5px 4px 3px rgba(0, 0, 0, 0.3);
}

.nav-item {
  font-weight: bold;
  font-size: 15px;
}

.navbar-nav {
  background-color: #412F26;
}

.navbar-nav {
  background-color: #e4b866;
}

header {
  height: 300px;
  background-size: cover;
  position: relative;
}

#titulo {
  color: #976c1c;
  font-size: 45px;
  font-family: 'Quando', serif;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  text-align: left; 
  font-weight:bold; 
  text-shadow: -1px 0 #dab571, 0 1px #dab571, 1px 0 #dab571, 0 -1px #dab571, -2px 2px 0 #dab571, 2px 2px 0 #dab571, 1px 1px #dab571, 2px 2px #dab571, 3px 3px #dab571, 4px 4px #dab571, 5px 5px #dab571, 6px 6px #dab571, 7px 7px #dab571, 8px 8px #dab571, 9px 9px #dab571;
}
.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes slideInRight {
  0% {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
  }
  @keyframes slideInRight {
  0% {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }

}

.tituloColor { 
  color: #B28735;
  margin-top: 50px;
}

.btn {
  background-color: #412F26;
  border-radius: 20px;
  color: white;
  font-weight: bold;
}
.btn-modal {
  background-color: #e4b866;
  border:none;
}
.btn-index {
  background-color: #412F26;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  width: 150px;
  margin-top: 15px;
}

.row {
  margin: 0px;
}

#row-elaboraciones img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  text-align: center;
}

#row-nosotros {
  background-size: cover;
  padding-top: 100px !important;
  padding-bottom: 100px !important;
}

#row-nosotros img {
  border-radius: 50%;
  border: 3px double #B28735;
  width: 400px;
  height: 400px;
}

#row-nosotros p {
  font-size: 15px;

}

#row-precios {
  font-size: 15px !important;
  max-width: 1200px;
  margin: 60px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

.comida {
  width: 100%;
    margin-bottom: 10px;
}

.producto {
  max-width: 250px;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 6px 3px 3px rgba(0, 0, 0, 0.3);
}
h5 {
  text-decoration: underline;
  font-size: 20px;
  text-align: center;
  margin-top: 15px;
}


/* responsive */
/* @media screen and (max-width:1000px){
  .card {
    width: 20%;
  }
}

div [class^="col-"]{
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 10px;

}
.card{
  transition: 0.5s;
  cursor: pointer;
  margin-right: 40px;
  width: 20%;
  margin-bottom: 30px;

}
.card-title{  
  font-size: 20px;
  transition: 1s;
  cursor: pointer;
  text-align: center;
}
.card-title i{  
  font-size: 16px;
  transition: 1s;
  cursor: pointer;
  color:#ffa710
  
}
.card-title i:hover{
  transform: scale(1.25) rotate(100deg); 
  color:#18d4ca;
  
}
.card:hover{
  transform: scale(1.05);
  box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
}
.card-text{
  height:80px;  
}

.card::before, .card::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform .3s ease-out 0s;
  background: rgba(255, 255, 255, 0.1);
  content: '';
  pointer-events: none;
}
.card::before {
  transform-origin: left top;
}
.card::after {
  transform-origin: right bottom;
}
.card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
  transform: scale3d(1, 1, 1);
}

.widget-container {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.btn-outline-success, .btn-outline-danger {
  background-color: #412F26;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
  width: 50px;
  display: flex;
} */

/* CONTACTO */

#row-contacto, .titulo-contacto {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.contacto {
  display: flex;
  justify-content: center;
  font-family: 'Quando', serif;
  font-size: 15px;
  margin-top: 25px;
}

/*formulario*/
#formulario{  
  width:500px;
  margin:auto;
  margin-top:30px;
  padding:20px;
  box-shadow: 0 0 20px 1px rgba(0,0,0,0.3);
  position:relative;
}
.formulario__titulo{
  text-align:center;
  margin:0;
  margin-bottom:40px;
  
}
.formulario__input, .formulario__label, .formulario__submit{
  display:flex;
  width:100%;
}
.formulario__input{
  padding: 10px;
  margin-bottom:35px;
  background:rgba(0,0,0,0.1);
  border:1px solid rgba(0,0,0,0.1);
}
.formulario__input:focus{
  outline: 1px solid rgba(0,0,0,0.3);
}
.formulario__input:focus + .formulario__label{
  margin-top:-120px;
}


.formulario__submit{
  padding:15px;
  color:white;
  background-color:#412F26;
  cursor:pointer;
  border:none;
  font-family: 'Quando', serif;
  font-size: 15px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fijar{
  margin-top:-120px;
}

/* footer */

#footer {
  background-color: #e4b866;
  margin-top: 20px;
  font-size: 5px;
}

h6 {
  font-weight: bold;
  margin-top: 20px;
}

#text-footer {
  text-align: center;
  display: flex;
  align-items: center;
  justify-items: center;
  outline: none;
  text-decoration: none;
  background-color: #e4b866;
  border: none;
}

a {
  font-family: 'Quando', serif;
  font-size: 15px;
  color: #412F26;

}

.texto {
  font-size: 10px;
}


/* producto */

.header-producto {
  height: 200px;
}

/* modal */

#modal-open {
  display: flex;
  justify-content: center;
  align-content: center;
  align-content: center;
}
.modal-container {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100vw;
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  opacity: 0;
  visibility: hidden;

  transition: all .3s ease-in-out;
}

.my-modal {
  width: 450px;
  height: 320px;
  background-color: #e4b866;
  margin-top: 30px;
  border-radius: 30px;
}

.titulo-modal {
  text-align: center;
  margin-top: 20px;
}

#modal-footer {
  display: flex;
  justify-content: space-around;
  margin-top: -10px;
}

.modal-container-active {
  opacity: 1;
  visibility: visible;
}

/*carrito del nav*/

#carrito {
  margin-left: 20px;
}
