<<<<<<< HEAD
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Quando', serif;
}

.container {
  max-width: 1200px;
  font-family: 'Quando', serif;
  font-size: 15px;
}

#contadorCarrito {
  font-family: 'Quando', serif;
  font-size: 20px;
  display: flex;
  justify-content: end;
  color: #976c1c;
  margin-left: 5px;
  background-color: #e4b866;
}

body {
  background-color: #f8f3ea;
  margin: auto;
}

ul {
  list-style: none;
}

.navbar {
  height: 150px;
  background-color: #e4b866;
  box-shadow: 0px 5px 4px 3px rgba(0, 0, 0, 0.3);
}

.nav-item {
  font-weight: bold;
  font-size: 15px;
}

.navbar-nav {
  background-color: #412F26;
}

.navbar-nav {
  background-color: #e4b866;
}

header {
  height: 300px;
  background-size: cover;
  position: relative;
}

#titulo {
  color: #976c1c;
  font-size: 45px;
  font-family: 'Quando', serif;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  text-align: left; 
  font-weight:bold; 
  text-shadow: -1px 0 #dab571, 0 1px #dab571, 1px 0 #dab571, 0 -1px #dab571, -2px 2px 0 #dab571, 2px 2px 0 #dab571, 1px 1px #dab571, 2px 2px #dab571, 3px 3px #dab571, 4px 4px #dab571, 5px 5px #dab571, 6px 6px #dab571, 7px 7px #dab571, 8px 8px #dab571, 9px 9px #dab571;
}
.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes slideInRight {
  0% {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
  }
  @keyframes slideInRight {
  0% {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }

}

.tituloColor { 
  color: #B28735;
  margin-top: 50px;
}

.btn {
  background-color: #412F26;
  border-radius: 20px;
  color: white;
  font-weight: bold;
}
.btn-modal {
  background-color: #e4b866;
  border:none;
}
.btn-index {
  background-color: #412F26;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  width: 150px;
  margin-top: 15px;
}

.row {
  margin: 0px;
}

#row-elaboraciones img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  text-align: center;
}

#row-nosotros {
  background-size: cover;
  padding-top: 100px !important;
  padding-bottom: 100px !important;
}

#row-nosotros img {
  border-radius: 50%;
  border: 3px double #B28735;
  width: 400px;
  height: 400px;
}

#row-nosotros p {
  font-size: 15px;

}

#contenedor-productos {
  font-size: 15px !important;
  max-width: 1200px;
  margin: 60px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

.comida {
  width: 100%;
    margin-bottom: 10px;
}

.producto {
  max-width: 250px;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 6px 3px 3px rgba(0, 0, 0, 0.3);
}
h5 {
  text-decoration: underline;
  font-size: 20px;
  text-align: center;
  margin-top: 15px;
}

/* CONTACTO */

#row-contacto, .titulo-contacto {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.contacto {
  display: flex;
  justify-content: center;
  font-family: 'Quando', serif;
  font-size: 15px;
  margin-top: 25px;
}

/*formulario*/
#formulario{  
  width:500px;
  margin:auto;
  margin-top:30px;
  padding:20px;
  box-shadow: 0 0 20px 1px rgba(0,0,0,0.3);
  position:relative;
}
.formulario__titulo{
  text-align:center;
  margin:0;
  margin-bottom:40px;
  
}
.formulario__input, .formulario__label, .formulario__submit{
  display:flex;
  width:100%;
}
.formulario__input{
  padding: 10px;
  margin-bottom:35px;
  background:rgba(0,0,0,0.1);
  border:1px solid rgba(0,0,0,0.1);
}
.formulario__input:focus{
  outline: 1px solid rgba(0,0,0,0.3);
}
.formulario__input:focus + .formulario__label{
  margin-top:-120px;
}


.formulario__submit{
  padding:15px;
  color:white;
  background-color:#412F26;
  cursor:pointer;
  border:none;
  font-family: 'Quando', serif;
  font-size: 15px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fijar{
  margin-top:-120px;
}

/* footer */

#footer {
  background-color: #e4b866;
  margin-top: 20px;
  font-size: 5px;
}

h6 {
  font-weight: bold;
  margin-top: 20px;
}

#text-footer {
  text-align: center;
  display: flex;
  align-items: center;
  justify-items: center;
  outline: none;
  text-decoration: none;
  background-color: #e4b866;
  border: none;
}

a {
  font-family: 'Quando', serif;
  font-size: 15px;
  color: #412F26;

}

.texto {
  font-size: 10px;
}


/* producto */

.header-producto {
  height: 200px;
}

.modal-contenedor {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s;
  opacity: 0;
  visibility: hidden;
}

.modal-active {
  opacity: 1;
  visibility: visible;
}

.modal-carrito {
  position: relative;
  background-color: white;
  min-width: 500px;
  padding: 20px;
  margin-top: -100%;
  transition: all .5s;
}

.modal-active .modal-carrito {
  margin-top: 0;
}

.modal-carrito h3 {
  color: #412F26;
  padding-bottom: 5px;
}
.modal-carrito #carritoCerrar {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  color: #412F26;
  border: none;
  background-color: white;
}
.modal-carrito #carritoCerrar:hover {
  cursor: pointer;
}
.modal-carrito #carritoCerrar:focus {
  outline: none;
}
.modal-carrito .precioProducto {
  padding-top: 10px;
  
}

.productoEnCarrito {
  border-left: 5px solid lightblue;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  margin: 5px 0;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}
.productoEnCarrito:hover {
  border-left: 5px solid #412F26;
}

.boton-eliminar {
  background-color: white;
  color: #412F26;
  border: none;
  font-size: 20px;
}

.boton-eliminar:hover {
  cursor: pointer;
}
.boton-eliminar:focus {
  outline: none;
}

#boton-carrito {
background-color: #e4b866;
display: flex;
justify-content: space-between;
align-items: center;
border: none;
}

.boton-agregar {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-left: 30%;
  font-family: 'Quando', serif;
  border-radius: 5px;
 
}

.boton-comprar {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-left: 30%;
  font-family: 'Quando', serif;
  border-radius: 5px;
}

.botones {
  display: flex;
  justify-content: center;
  margin-left: -30px;
  margin-right: 70px;
}
=======
body {
    margin: 0%;
    margin-left: 10px;
    background-color: bisque;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul {
    font-weight: bold;
    color: chocolate;
    text-decoration: dotted;
}

li {
    margin: 10px;
    margin-left: 5px;
}
>>>>>>> 344c65d9ddb77df607e60482021c4f6599054f6b
