.container {
  max-width: 1200px;
  font-family: 'Quando', serif;
  font-size: 15px;
}

body {
  background-color: #f8f3ea;
  margin: auto;
}

ul {
  list-style: none;
  padding: 20px;
}

.navbar {
  height: 150px;
  background-color: #e4b866;
}

.nav-item {
  font-weight: bold;
  font-size: 15px;
}

.navbar-nav {
  background-color: #412F26;
}

.navbar-nav {
  background-color: #e4b866;
}

header {
  height: 500px;
  background-size: cover;
  position: relative;
}

.titulo {
  color: #B28735;
  font-size: 35px;
  font-family: 'Quando', serif;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding-top: 20px;
}

.tituloColor { 
  color: #B28735;
}

.btn {
  background-color: #412F26;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
  width: 180px;
}

.row {
  margin: 0px;
}

#row-elaboraciones img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

#row-nosotros {
  background-size: cover;
  padding-top: 100px !important;
  padding-bottom: 100px !important;
}

#row-nosotros img {
  border-radius: 50%;
  border: 3px double #B28735;
  width: 400px;
  height: 400px;
}

#row-nosotros p {
  font-size: 15px;

}

#row-precios {
  font-size: 15px !important;
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
  justify-content: center;
}
/* CARDS */


div [class^="col-"]{
  padding-left: 15px;
  padding-right: 15px;

}
.card{
  transition: 0.5s;
  cursor: pointer;
}
.card-title{  
  font-size: 20px;
  transition: 1s;
  cursor: pointer;
  text-align: center;
}
.card-title i{  
  font-size: 16px;
  transition: 1s;
  cursor: pointer;
  color:#ffa710
  
}
.card-title i:hover{
  transform: scale(1.25) rotate(100deg); 
  color:#18d4ca;
  
}
.card:hover{
  transform: scale(1.05);
  box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
}
.card-text{
  height:80px;  
}

.card::before, .card::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform .3s ease-out 0s;
  background: rgba(255, 255, 255, 0.1);
  content: '';
  pointer-events: none;
}
.card::before {
  transform-origin: left top;
}
.card::after {
  transform-origin: right bottom;
}
.card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
  transform: scale3d(1, 1, 1);
}

h5 {
  text-decoration: underline;
  font-size: 20px;
  text-align: center;
  margin-top: 15px;
}

/* CONTACTO */

#row-contacto, .titulo-contacto {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.contacto {
  display: flex;
  justify-content: center;
  font-family: 'Quando', serif;
  font-size: 15px;
  margin-top: 25px;
}

.btn {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

/*formulario*/
.formulario{  
  width:600px;
  margin:auto;
  margin-top:30px;
  padding:20px;
  box-shadow: 0 0 20px 1px rgba(0,0,0,0.3);
  position:relative;
}
.formulario__titulo{
  text-align:center;
  margin:0;
  margin-bottom:40px;
  
}
.formulario__input, .formulario__label, .formulario__submit{
  display:block;
  width:100%;
}
.formulario__input{
  padding: 20px;
  margin-bottom:40px;
  background:rgba(0,0,0,0.1);
  border:1px solid rgba(0,0,0,0.1);
}
.formulario__input:focus{
  outline: 1px solid rgba(0,0,0,0.3);
}
.formulario__input:focus + .formulario__label{
  margin-top:-120px;
}
.formulario__label{
  padding-left:15px;
  position:absolute;
  margin-top:-78px;
  color:rgba(0,0,0,0.3);
  z-index:-20px;
}

.formulario__submit{
  padding:15px;
  color:white;
  background-color:rgba(0,0,0,0.7);
  cursor:pointer;
  border:none;
}
.fijar{
  margin-top:-120px;
}


/* footer */

#footer {
  background-color: #e4b866;
  margin-top: 20px;
}

h6 {
  font-weight: bold;
  margin-top: 20px;
}

p .text-footer {
  text-align: center;
  display: flex;
  align-items: center;
  justify-items: center;
}

/* producto */

.header-producto {
  height: 200px;
}
